{% load static %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'bookings' as bookings_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tags and information for search engines -->
    <meta name="description"
    content="The Fancy Cinema Castle, book an exklusive cinema experience in a top of the line auditorium experience">
    <meta name="keywords" content="the fancy cinema castle, cinema, auditorium, fun with friends, fun with family, craft beer, video games, movies, bachelor, bachelorette, birthday, company event, luxury">
    <title>The Fancy Cinema Castle</title>

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <!-- Favicons -->
    <link rel='icon' type='image/x-icon' href='{% static "favicons/favicon.ico" %}'>

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand"><img id='nav-icon' loading="lazy"
                        src="https://res.cloudinary.com/dpfuyoali/image/upload/hyhrvescn4gkopss7ps9"
                        alt="Castle Icon"></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href='{% url "home" %}'>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == about_url %}active{% endif %}" aria-current="page"
                            href='{% url "about" %}'>About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == bookings_url %}active{% endif %}" aria-current="page"
                            href='{% url "bookings" %}'>Bookings</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- displaying Django messages -->
<div class="container bg-dark min-vw-100">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible
          " id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close bg-light"
            data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

    <main class="flex-shrink-0 main-bg bg-dark">
        {% if user.is_authenticated %}
        <p class='text-end m-3'>You are logged in as {{ user }}</p>
        {% else %}
        <p class='text-end m-3'>You are not logged in</p>
        {% endif %}
        <h1 id='h1'>Welcome to The Fancy Cinema Castle</h1>
        <img id='cinema-castle' loading="lazy"
            src="https://res.cloudinary.com/dpfuyoali/image/upload/lfthokbukpsubdzmlelv.jpg"
            alt="Cinema Castle">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-dark border-top border-1 fixed-bottom">
        <p class="m-0 text-center">
            {% block copyright %}
            Copyright 2024 Alexander Åberg
            {% endblock %}
        </p>
        <p class="m-0 text-center">
            <a class='text-secondary mx-1' href="https://facebook.com/" target="_blank" rel="noopener"
                aria-label="Our Facebook (Opens in a new browser tab)"><i class="fa-brands fa-facebook"></i></a>
            <a class='text-secondary mx-1' href="https://instagram.com/" target="_blank" rel="noopener"
                aria-label="Our instagram (Opens in a new browser tab)"><i class="fa-brands fa-instagram"></i></a>
            <a class='text-secondary mx-1' href="https://youtube.com/" target="_blank" rel="noopener"
                aria-label="Our YouTube (Opens in a new browser tab)"><i class="fa-brands fa-youtube"></i></a>
            <a class='text-secondary mx-1' href="https://x.com/" target="_blank" rel="noopener"
                aria-label="Our X (Opens in a new browser tab)"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
    </footer>
    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/b2b2c0091d.js" crossorigin="anonymous"></script>
    <!-- Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    {% block extras %}
    {% endblock %}
</body>

</html>